body {
  text-align: center;
  background-image: url(https://t3.ftcdn.net/jpg/02/67/64/28/360_F_267642803_KVtMHr0J2NLjWyDPidOkJVoyVCuHjoPu.jpg);
  color: yellow;
  background-repeat: no-repeat;
  background-size: 100%;
font-family:'Kufam', cursive;
}